span {
    color: #dd1d21;
    font-weight: bold;
}

.png-icon{
    margin: 5px auto auto;
    padding: 0;
    display: inline-block;
    background-repeat: no-repeat no-repeat;
    pointer-events: none;
}

.title {
    padding: 14px;
    margin: 5px auto auto;
}