table {
    width: 100%;
    height: 400px
  }


.btnbtn {
  font-size: 10px;
  width: 180px; 
}

.example-spacer {
  flex: 1 1 auto;
}

.main-container{
  height:85%;
}

mat-checkbox {
  margin-right: 4px;
}

.arrowbtn {
  margin: -10px;
  margin-bottom:10px;
}

.submitfilter {
  margin: 5px;
  float:right;
}

